---

---

<div class="columns">
  <slot />
</div>

<style>
  .columns {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    gap: 2rem;

    @media screen and (width >= 769px) {
      justify-content: center;
    }
  }
</style>
