---
import Layout from '@layouts/Layout.astro';
import Typography from '../cd/Typography.astro';
import Colors from '../cd/Colors.astro';
import Elements from '../cd/Elements.astro';
import Cards from '../cd/Cards.astro';
import Icons from '../cd/Icons.astro';
import Brand from '../cd/Brand.astro';
---

<Layout title="Style Guide">
  <main>
    <div class="container">
      <h1>Style Guide</h1>
      <p>Design tokens and component library</p>
      <Elements />
      <Brand />
      <Typography />
      <Colors />
      <Icons />
      <Cards />
    </div>
  </main>
</Layout>
