---
import KursLayout from '@layouts/KursLayout.astro';
import Blockquote from '@components/Blockquote.astro';
import LabLinkButton from '@components/LabLinkButton.astro';
import LinkButton from '@components/LinkButton.astro';
import PeopleSection from '@compositions/People.astro';
import Banner from '@compositions/Banner.astro';
import MailIcon from '@assets/svg/icons/mail.svg';

import * as content from '@content/praxisphase.md';
import ImageZoe from '@assets/images/wolter-zoe.jpg';
import ImageAntje from '@assets/images/relitz-antje.png';
import ImageEmma from '@assets/images/morlock-emma.png';

const people = [
  {
    name: 'Zoé Wolter',
    role: 'Geschäftsführung und Bildung',
    image: ImageZoe.src,
    email: 'lab@correlaid.org?subject=CorrelLAB&body=Hi%20Zo%C3%A9%2C',
  },
  {
    name: 'Antje Relitz',
    role: 'Bildung',
    image: ImageAntje.src,
    email: 'lab@correlaid.org?subject=CorrelLAB&body=Hi%20Antje%2C',
  },
  {
    name: 'Emma Morlock',
    role: 'Werkstudentin Data Literacy',
    image: ImageEmma.src,
    email: 'lab@correlaid.org?subject=CorrelLAB&body=Hi%20Emma%2C',
  },
];

import stages from '@data/praxisphase.json';
import ScrollColumns from '@compositions/ScrollColumns.astro';
---

<KursLayout title="CorrelLAB: Praxisphase">
  <h4 slot="subtitle">Praxisphase</h4>
  <p slot="teaser">
    Eure Organisation braucht Unterstützung beim Aufsetzen einer Datenbank, der Analyse von
    Statistiken, der Erstellung eines Wirkungsberichts oder beim Einsatz von künstlicher
    Intelligenz?<br /><br />Dann seid ihr hier genau richtig!
  </p>
  <Fragment slot="cta">
    <LabLinkButton href="#start">Die Praxis</LabLinkButton>
    <LinkButton href="/">Zurück zur Übersicht</LinkButton>
  </Fragment>
  <section class="content-box trim">
    <Blockquote bare wide>
      In der Praxisphase setzt ihr eure Projektidee in die Tat um – mit tatkräftiger Unterstützung
      unserer ehrenamtlichen Data Scientists. Gemeinsam bringt ihr eure Organisation mit
      datenbasierten Lösungen voran!<br /><br />
      Wir verbinden Grundlagenwissen mit konkreten Anwendungen und schaffen Raum für Austausch, Fragen
      und individuelle Begleitung – von und für die Zivilgesellschaft!
    </Blockquote>
  </section>
  <section class="prose" set:html={await content.compiledContent()} />
  <ScrollColumns stages={stages} />
  <section class="prose trim">
    <h3 class="text-center">So seid ihr dabei</h3>
    <p>
      Für die Praxisphase haben wir in der ersten Kohorte nur zehn Plätze. Die Kosten der
      Praxisphase können durch eine externe Förderung oder eines unserer Stipendien gedeckt werden.
      Wenn ihr mehr erfahren wollt, sprecht uns gerne an
    </p>
  </section>
  <section class="sticky sticky-bottom">
    <LabLinkButton href="https://pretix.eu/control/event/correlaid/correllab-1-dl/">
      Hier geht es zur Anmeldung!
    </LabLinkButton>
  </section>
  <PeopleSection people={people} />
  <Banner slot="banner">
    <Fragment slot="title">Interessiert?</Fragment>
    <Fragment slot="body">
      <p class="light">
        Wir sind immer auf der Suche nach ehrenamtlichen Tutor*innen für unseren nächsten Kurs!
      </p>
      <p class="light">Melde dich dazu einfach kurz bei unserem Bildungsteam.</p>
    </Fragment>
    <LinkButton
      variant="btn-light"
      href="mailto:education@correlaid.org"
      classes="btn-icon"
      slot="cta"><MailIcon height={'20'} /> Nachricht schreiben</LinkButton
    >
  </Banner>
  <div class="flex cols center gap-2 pad-8" slot="footer-links">
    <LabLinkButton href="/kurse/kurs1">Kurs 1: Daten verstehen</LabLinkButton>
    <LabLinkButton href="/kurse/kurs2">Kurs 2: Daten nutzen</LabLinkButton>
  </div>
</KursLayout>
