---
import Blockquote from '@components/Blockquote.astro';
import LabLinkButton from '@components/LabLinkButton.astro';
import LinkButton from '@components/LinkButton.astro';
import Banner from '@compositions/Banner.astro';
import PeopleSection from '@compositions/People.astro';
import KursLayout from '@layouts/KursLayout.astro';

import ImageAnnKristin from '@assets/images/vester-annkristin.jpeg';
import * as content from '@content/praxisphase.md';

const people = [
  {
    name: 'Ann-Kristin Vester',
    role: 'Geschäftsführung',
    image: ImageAnnKristin,
    email: 'lab@correlaid.org?subject=CorrelLAB&body=Hi%20Ann-Kristin%2C',
  },
];

import ScrollColumns from '@compositions/ScrollColumns.astro';
import stages from '@data/praxisphase.json';
---

<KursLayout title="CorrelLAB: Praxisphase">
  <h4 slot="subtitle">Praxisphase</h4>
  <p slot="teaser">
    Eure Organisation braucht Unterstützung beim Aufsetzen einer Datenbank, der Analyse von
    Statistiken, der Erstellung eines Wirkungsberichts oder beim Einsatz von künstlicher
    Intelligenz?<br /><br />Dann seid ihr hier genau richtig!
  </p>
  <Fragment slot="cta">
    <LabLinkButton href="#start">Die Praxisphase</LabLinkButton>
    <LinkButton href="/">Zurück zur Übersicht</LinkButton>
  </Fragment>
  <section class="content-box trim">
    <Blockquote bare wide>
      In der Praxisphase setzt ihr eure Projektidee in die Tat um – mit tatkräftiger Unterstützung
      unserer ehrenamtlichen Data Scientists. Gemeinsam bringt ihr eure Organisation mit
      datenbasierten Lösungen voran!<br /><br />
      Wir verbinden Grundlagenwissen mit konkreten Anwendungen und schaffen Raum für Austausch, Fragen
      und individuelle Begleitung – von und für die Zivilgesellschaft!
    </Blockquote>
  </section>
  <section class="prose" set:html={await content.compiledContent()} />
  <ScrollColumns stages={stages} />
  <section class="prose trim">
    <h3 class="text-center">So seid ihr dabei</h3>
    <p>
      Für die Praxisphase haben wir in der ersten Kohorte nur zehn Plätze. Die Kosten der
      Praxisphase können durch eine externe Förderung oder eines unserer Stipendien gedeckt werden.
      Wenn ihr mehr erfahren wollt, sprecht uns gerne an
    </p>
  </section>
  <section class="sticky sticky-bottom">
    <LabLinkButton href="https://pretix.eu/control/event/correlaid/correllab/">
      Hier geht es zur Anmeldung!
    </LabLinkButton>
  </section>
  <PeopleSection people={people} />
  <Banner slot="banner" />
  <div class="flex cols center gap-2 pad-8 wrap" slot="footer-links">
    <LabLinkButton href="/kurse/kurs-daten-verstehen">Kurs: Daten verstehen</LabLinkButton>
    <LabLinkButton href="/kurse/kurs-daten-nutzen">Kurs: Daten nutzen</LabLinkButton>
  </div>
</KursLayout>
