---
import Blockquote from '@components/Blockquote.astro';
import CardPlain from '@components/cards/CardPlain.astro';
import LabLinkButton from '@components/LabLinkButton.astro';
import ColumnsSection from '@components/sections/ColumnsSection.astro';
import Banner from '@compositions/Banner.astro';
import PeopleSection from '@compositions/People.astro';
import KursLayout from '@layouts/KursLayout.astro';

import * as BeispieleContent from '@content/praxisphase_beispiele.md';
import * as PowerColumn from '@content/praxisphase_power.md';
import * as LoesungenColumn from '@content/praxisphase_loesungen.md';

import { people } from '@data/people';

import ScrollColumns from '@compositions/ScrollColumns.astro';
import stages from '@data/praxisphase.json';
---

<KursLayout title="CorrelLAB: Praxisphase">
  <Fragment slot="subtitle">
    CorrelLAB<br />&ndash;&nbsp;<strong>Praxisphase</strong>
  </Fragment>
  <p slot="teaser">
    Deine Organisation braucht Unterstützung bei der Automatisierung von Prozessen, der Analyse
    von Statistiken, der Erstellung eines Wirkungsberichts oder beim Einsatz von künstlicher
    Intelligenz? Dann seid ihr hier genau richtig!
  </p>
  <Fragment slot="cta">
    <LabLinkButton href="#start">Überblick Praxisphase</LabLinkButton>
    <LabLinkButton href="/">Zur Startseite</LabLinkButton>
  </Fragment>
  <ColumnsSection center_title>
    <Fragment slot="pre">
      <Blockquote bare wide>
        Du brauchst konkrete Hilfe, um ein Problem in deiner Organisation mit Daten zu lösen?
      </Blockquote>
    </Fragment>
    <div class="flex rows gap-2" slot="col1">
      <Fragment set:html={await PowerColumn.compiledContent()} />
    </div>
    <div class="flex rows gap-2" slot="col2">
      <Fragment set:html={await LoesungenColumn.compiledContent()} />
    </div>
  </ColumnsSection>
  <section class="prose pt-1">
    <CardPlain>
      <Fragment slot="content">
        <h4 class="kurs-heading">Beispiele für Datenprojekte</h4>
        <Fragment set:html={await BeispieleContent.compiledContent()} />
      </Fragment>
    </CardPlain>
  </section>
  <ScrollColumns stages={stages}>
    <Fragment slot="intro">
      <h3>Wie läuft ein Datenprojekt ab?</h3>
      <p>
        Ein Datenprojekt schließt sich üblicherweise an eines der CorrelLAB-Bildungsangebote,
        z.&nbsp;B. an den Grundkurs, an. Dadurch stellen wir sicher, dass in der teilnehmenden
        Organisation ausreichend Grundkenntnisse vorhanden sind, um eine Projektidee zu finden,
        die zu euren Bedarfen passt und nachhaltig in der Organisation verankert werden kann. In
        einzelnen Fällen können Praxisphasen auch ohne vorheriges Bildungsangebot gebucht werden.
        Sprecht uns dazu gerne <a href="mailto:lab@correlaid.org">an</a>!
      </p>
    </Fragment>
  </ScrollColumns>
  <section class="prose pt-0 pb-0">
    <h3 class="text-center">So seid ihr dabei!</h3>
    <p>
      Durch die Praxisphase entstehen bei CorrelAid Kosten, die nach Länge und Aufwand des
      Projekts variieren, z.&nbsp;B. für die hauptamtliche Koordination des Projekts oder
      bereitgestellte Infrastruktur. Teilweise können sie über Stipendienplätze durch unsere
      Fördernden übernommen werden oder wir unterstützen dich beim Einreichen eines passenden
      Förderantrags für deine Organisation. In einem <a
        href="https://zeeg.me/correlaid/correllab">Erstgespräch</a> bei uns erfährst du mehr!
    </p>
  </section>
  <PeopleSection title="Eure Ansprech­partner­*innen" people={[people.annkristin, people.leo]} />
  <Banner slot="banner" />
  <div class="flex cols center gap-2 pad-8 wrap" slot="footer-links">
    <LabLinkButton href="/">Zur Startseite</LabLinkButton>
    <LabLinkButton href="/kurse/abo/">CorrelLAB Bildungsabo</LabLinkButton>
  </div>
</KursLayout>

<style>
  .kurs-heading {
    margin: 0;
    color: var(--color-grey-900);
    font-weight: var(--font-weight-bold);
  }
</style>
