---
import LinkButton from './LinkButton.astro';
import CorrelAidLogo from '@assets/branding/aid/Main/CorrelAid C.svg';
const { href, variant = '', classes = '', children } = Astro.props;
---

<LinkButton href={href} variant={variant} classes={[...classes, 'btn-icon btn-icon-lab']}>
  <CorrelAidLogo class="btn-icon-svg" alt="CorrelAid Logo" />
  <span class="btn-text"><slot /></span>
</LinkButton>

<style>
  & .btn-icon-svg {
    --icon-size: 32px;

    display: inline-block;
    min-width: var(--icon-size);
    max-height: var(--icon-size);
  }

  .btn-text {
    white-space: nowrap;
  }
</style>
