<div class="event-teaser">
  <a href="https://pretix.eu/correlaid/correllab-info" target="_blank"
    >Online-Infoveranstaltung am 19.1.</a
  >
</div>

<style>
  .event-teaser,
  a {
    font-size: 0.9rem;
    line-height: 1;
    text-decoration: underline;
  }

  .event-teaser {
    text-align: center;
  }
</style>
