---
export interface Props {
  center_title?: boolean;
}

let { center_title = true } = Astro.props;
---

<div class="columns">
  <div class="columns-content">
    <slot name="col1" />
  </div>
  <div class="columns-content">
    <slot name="col2" />
  </div>
</div>

<style>
  .columns {
    margin: 0 auto;
    width: 100%;
    display: grid;
    /* min 300px max 40ch */
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    justify-content: center;

    & .columns-header {
      grid-column: 1 / -1;
    }
  }
</style>
