---
import CorrelaidLogo from '@assets/branding/CorrelaidLogo.svg';
import CorrelaidLogoMin from '@assets/branding/CorrelaidLogoMin.svg';
---

<section class="section">
  <div class="subsection">
    <CorrelaidLogo />
  </div>
  <div class="subsection">
    <CorrelaidLogoMin />
  </div>
</section>
