---
import KursLayout from '@layouts/KursLayout.astro';
---

<KursLayout>
  <section class="prose">
    <h3>Kurs 2</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
  </section>
</KursLayout>
